manifest {
  author = 'Sherrie Wang (nextflow pipeline)/Kevin Kuchinski (FluViewer), adapted by Sherrie Wang'
  name = 'BCCDC-PHL/hcv-genotype-nf'
  version = '0.1.0'
  description = 'BCCDC-PHL HCV genotyping pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  profile = false
  cache = ''
  outdir="results"
  mode = "assemble"
  adapters = "${baseDir}/assets/primers_adapter.fa"
  refhcv = "${baseDir}/assets/1_AJ851228.fa"
  corebed = "${baseDir}/assets/amplicon_core.bed"
  ns5bbed = "${baseDir}/assets/amplicon_ns5b.bed"
  minid = 95
  mincov = 95
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

process {

  withName: segcov {
    conda = "$baseDir/environments/plotRenvironment.yml"
  }

  withName: plotdepthdb {
    conda = "$baseDir/environments/plotRenvironment.yml"
  }

  withName: mixscan {
    conda = "$baseDir/environments/freyjaenvironment.yml"
  }

  withName: mafftraxmltree {
    shell = ['/bin/bash', '-uo','pipefail' ]
  }

  withName: findamplicon {
    shell = ['/bin/bash', '-uo','pipefail' ]
  }

  withName: blastconcensus {
    shell = ['/bin/bash', '-uo','pipefail' ]
  }
}