manifest {
  author = 'Sherrie Wang (nextflow pipeline)/Kevin Kuchinski (FluViewer), adapted by Sherrie Wang'
  name = 'BCCDC-PHL/hcv-nf'
  version = '1.1.6'
  description = 'BCCDC-PHL HCV genotyping pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  profile = false
  cache = ''
  outdir="results"
  mode = "assemble"
  illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
  fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
  fastq_search_path = makeFastqSearchPath( illumina_suffixes, fastq_exts )
  adapters = "${baseDir}/assets/primers_adapter.fa"
  artifacts = "${baseDir}/assets/artifacts.fa"
  refhcv = "${baseDir}/assets/1_AJ851228.fa"
  corebed = "${baseDir}/assets/amplicon_core.bed"
  ns5bbed = "${baseDir}/assets/amplicon_ns5b.bed"
  repstrain = "${baseDir}/assets/representative_strains.txt"
  minid = 95
  mincov = 95
  db_name = "core_nt"
}

def makeFastqSearchPath ( illumina_suffixes, fastq_exts ) {
    def fastq_search_path = []
    for (suffix in illumina_suffixes){
        for (ext in fastq_exts) {
            fastq_search_path.add(params.fastq_input.toString() + '/' + suffix.toString() + ext.toString())
        }
    }
    return fastq_search_path
}

profiles {
  conda {
     conda.enabled = true
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }

  apptainer {
    apptainer.enabled = true
    process.container = "oras://community.wave.seqera.io/library/hcv-nf:cefd23b425fe3975"
    apptainer.runOptions = "-B $TMPDIR:$TMPDIR,/home/$USER:/home/$USER"
    envWhitelist = "TMPDIR"

    if (params.cache){
	    apptainer.cacheDir = params.cache
	  }
  }

}

process {

  withName: segcov {
    conda = "$baseDir/environments/plotRenvironment.yml"
    container = "oras://community.wave.seqera.io/library/hcv-r:e5a9a86530d8a44e"
  }

  withName: plotdepthdb {
    conda = "$baseDir/environments/plotRenvironment.yml"
    container = "oras://community.wave.seqera.io/library/hcv-r:e5a9a86530d8a44e"
  }

  withName: plot_tree {
    conda = "$baseDir/environments/plotRenvironment.yml"
    container = "oras://community.wave.seqera.io/library/hcv-r:e5a9a86530d8a44e"
  }

  withName: mixscan {
    conda = "$baseDir/environments/freyjaenvironment.yml"
    container = "oras://community.wave.seqera.io/library/hcv-freyja:b9ec849195fe5070"
  }

  withName: mafftraxmltree {
    shell = ['/bin/bash', '-uo','pipefail' ]
  }

  withName: findamplicon {
    shell = ['/bin/bash', '-uo','pipefail' ]
  }

  withName: blastconsensus {
    shell = ['/bin/bash', '-uo','pipefail' ]
  }
}

report {
    enabled = true
    overwrite = true
 
}

trace {
    enabled = true
    overwrite = true
}