manifest {
  author = 'Sherrie Wang (nextflow pipeline)/Kevin Kuchinski (FluViewer), adapted by Sherrie Wang'
  name = 'BCCDC-PHL/hcv-nf'
  version = '0.1.0'
  description = 'BCCDC-PHL HCV genotyping pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  profile = false
  cache = ''
  outdir="results"
  mode = "assemble"
  illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
  fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
  fastq_search_path = makeFastqSearchPath( illumina_suffixes, fastq_exts )
  adapters = "${baseDir}/assets/primers_adapter.fa"
  refhcv = "${baseDir}/assets/1_AJ851228.fa"
  corebed = "${baseDir}/assets/amplicon_core.bed"
  ns5bbed = "${baseDir}/assets/amplicon_ns5b.bed"
  minid = 95
  mincov = 95
}

def makeFastqSearchPath ( illumina_suffixes, fastq_exts ) {
    def fastq_search_path = []
    for (suffix in illumina_suffixes){
        for (ext in fastq_exts) {
            fastq_search_path.add(params.fastq_input.toString() + '/' + suffix.toString() + ext.toString())
        }
    }
    return fastq_search_path
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

process {

  withName: segcov {
    conda = "$baseDir/environments/plotRenvironment.yml"
  }

  withName: plotdepthdb {
    conda = "$baseDir/environments/plotRenvironment.yml"
  }

  withName: mixscan {
    conda = "$baseDir/environments/freyjaenvironment.yml"
  }

  withName: mafftraxmltree {
    shell = ['/bin/bash', '-uo','pipefail' ]
  }

  withName: findamplicon {
    shell = ['/bin/bash', '-uo','pipefail' ]
  }

  withName: blastconcensus {
    shell = ['/bin/bash', '-uo','pipefail' ]
  }
}